<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name="bin.mt.file.content.MTDataFilesProvider"
            android:authorities="${applicationId}.MTDataFilesProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <activity
            android:name="bin.mt.file.content.MTDataFilesWakeUpActivity"
            android:taskAffinity="${applicationId}.MTDataFilesWakeUp"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true" />
    </application>
</manifest>